@page "{restaurantId}"
@model OdeToFood.Pages.Restaurants.DeleteModel
@{
    ViewData["Title"] = "Delete";
}





    <h2>Delete!</h2>
    <div class="alert alert-danger">
        <p>Are you sure you want to delete @Model.Restaurant.Name</p>
    </div>
    <form method="post">
        <button class="btn btn-danger" type="submit">Yes!</button>
        <a asp-page="./List" class="btn btn-info">Cancel</a>
    </form>

